<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Apps</h1>

        {% if user %}
            <h3>Hello {{ user.email }}</h3>
        {% endif %}

        {% if devApps %}
        <table class="table table-striped">
            <tr>
                <th>App Name</th>
                <th>Category</th>
                <th>Info</th>
                <th>Update App</th>
            </tr>
            {% for app in devApps %}
            <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.app_category }}</td>
                <td><a href="/appDetail/{{app.id}}/{{user.id}}">Info</a></td>
                <td><a href="/devPage/{{user.id}}/{{app.id}}/updateApp">Update App</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No apps found</p>
        {% endif %}

         <!--New app button-->
        <button type="button" class="btn btn-primary" onclick="window.location.href='newApp/'">New App</button>

        <button class="btn btn-primary" onclick="window.location.href='/'">Logout</button>
    </div>
</body>

</html>