{% extends "devBase.html" %}

{% block content %}

    <div class="container">
        <h1>Apps</h1>

        {% if user %}
            <h3>Hello {{ user.email }}</h3>
        {% endif %}

        {% if devApps %}
        <table class="table table-striped">
            <tr>
                <th>App Name</th>
                <th>Category</th>
                <th>Info</th>
                <th>Update App</th>
                <th>Remove App</th>
            </tr>
            {% for app in devApps %}
            <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.app_category }}</td>
                <td><a type="button" class="btn btn-primary" href="/appDetail/{{app.id}}">Detail</a></td>
                <td><a type="button" class="btn btn-primary" href="/devPage/{{app.id}}/updateApp">Update</a></td>
                <td><a type="button" class="btn btn-danger" href="/devPage/{{app.id}}/removeApp">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No apps found</p>
        {% endif %}
    </div>

{% endblock content %}