{% extends "base.html" %}

{% block content %}

    {% load crispy_forms_tags %}
    <div class="d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-outline mb-4 row">
                {{form.email|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.password|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <p>You can register <a href="register">HERE</a></p>
        </form>
    </div>
    
{% endblock content %}