{% extends "devBase.html" %}

{% block content %}

    {% load crispy_forms_tags %}
    <div class="d-flex justify-content-center">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-outline mb-4 row">
                {{form.name|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.version|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.app_category|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.description|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.appImage|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                {{form.appFile|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                <button type="submit" class="btn btn-primary">Add App</button>
            </div>

        </form>
    </div>
    
{% endblock content %}