{% extends "adminBase.html" %}

{% block content %}

    <div class="d-flex justify-content-center">
        <h1>New Category</h1>
    </div>

    {% load crispy_forms_tags %}
    <div class="d-flex justify-content-center">

        <form method="post">
            {% csrf_token %}
            <div class="form-outline mb-4 row">
                {{form.name|as_crispy_field}}
            </div>

            <div class="form-outline mb-4 row">
                <button type="submit" class="btn btn-primary">Add New Category</button>
            </div>

        </form>
    </div>

{% endblock content %}