{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-md-center">
    <div class="card">
        <h5 class="card-header">User Register</h5>
            {% load crispy_forms_tags %}
            <div class="d-flex justify-content-center" style="padding-right: 10rem; padding-left: 10rem; padding-top: 2rem; padding-bottom: 2rem;">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4 row">
                        {{form.first_name|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        {{form.last_name|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        {{form.nickname|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        {{form.password|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        {{form.email|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        {{form.phone|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                    <div class="form-outline mb-4 row">
                        <p>You can register as <a href="/devRegister">Developer</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}