{% extends "userBase.html" %}

{% block content %}

    <div class="container">
        <h1>Apps</h1>

        {% if appsList %}

        <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for app in appsList %}

        <div class="col">
            <div class="card">
              <img src="{{app.appImage.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ app.name }}</h5>
                <p class="card-text">Category: {{ app.app_category }}</p>
              </div>
              <div class="card-body">
                <a href="/appDetail/{{ app.id }}" class="card-link"><b>Detail</b></a>
                <a href="/installApp/{{ app.id }}" class="card-link">Install</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>  


        {% else %}
            <h1 class="h1">No apps found</h1>
        {% endif %}

    </div>
    
{% endblock content %}  