<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>Apps</h1>

        {% if appsList %}
        <!-- <table class="table table-striped">
            <tr>
                <th>App Name</th>
                <th>Category</th>
                <th>Info</th>
            </tr>
            {% for app in appsList %}
            <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.app_category }}</td>
                <td><a href="/appDetail/{{ app.id }}/{{user.id}}">Info</a></td>
            </tr>
            {% endfor %}
        </table> -->

        <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for app in appsList %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">{{ app.name }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dev: <b>{{ app.developer.user.nickname }}</b> </li>
                  <li class="list-group-item">Category: <b>{{ app.app_category.name }}</b> </li>
                </ul>
                <div class="card-body">
                  <a href="/appDetail/{{ app.id }}/{{user.id}}" class="card-link"><b>Detail</b></a>
                  <a href="/appDetail/{{app.id}}/{{user.id}}/installApp" class="card-link">Install</a>
                </div>
            </div>
        </div>

        {% endfor %}
        </div>  


        {% else %}
            <h1 class="h1">No apps found</h1>
        {% endif %}

        <br>

        <button class="btn btn-primary" onclick="window.location.href='/'">Logout</button>

        <button class="btn btn-primary" onclick="window.location.href='/userPage/{{user.id}}/manageAccount'">Account Setting</button>

    </div>
</body>

</html>