{% extends "AppStore/adminBase.html" %}

{% block content %}

<div class="d-flex justify-content-md-center">
    <div class="card">
        <h5 class="card-header">New Category</h5>
            {% load crispy_forms_tags %}
            <div class="d-flex justify-content-center" style="padding-right: 10rem; padding-left: 10rem; padding-top: 2rem; padding-bottom: 2rem;">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4 row">
                        {{form.name|as_crispy_field}}
                    </div>

                    <div class="form-outline mb-4 row">
                        <button type="submit" class="btn btn-primary">Add New Category</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}